<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.cn.dao.UserLoginMapper">

    <select id="countByUserAddress" resultType="java.lang.Integer">
        SELECT count(1) FROM (SELECT user_address FROM user_login WHERE create_time &gt;= #{startDay} AND create_time &lt; #{endDay} GROUP BY user_address) t
    </select>
</mapper>
