<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.cn.dao.UUserMapper">

    <select id="selectChildUser" resultType="com.nft.cn.entity.UUser">
        select * from u_user where user_id in (select user_id from u_user_referee where referee_user_id = #{id});
    </select>
</mapper>
