<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.cn.dao.UUserRefereeNumMapper">

    <select id="selectUser50" resultType="com.nft.cn.entity.UUserRefereeNum">
        SELECT * FROM (SELECT *, COUNT(id) cc FROM u_user_referee_num GROUP BY user_address) t WHERE t.cc = 50
    </select>
</mapper>
